.main-container {
    margin: auto;
    padding: 18% 20% 20% 40%;
}

input {
    margin: 3px;
    padding: 5px 5px 5px 10px;
    border-radius: 15px;
}

button {
    margin-left: 80px;
    margin-top: 5px;
    width: 120px;
    border-radius: 2px;
}