<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Log In</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../static/css/main.css"/>
    <!--<script type="text/javascript" th:src="@{/js/login.js}"-->
            <!--src="../static/js/login.js"></script>-->
</head>
<body>
<div class="main-container">
    <form action="/auth" method="post">
        <div class="container">
            <label for="username">Username:</label><input id="username" class="column" name="username" value="login"/><br/>
            <label for="password">Password:</label><input id="password" class="column" name="password" value="pass"/><br/>
            <input id="response_type" name="response_type" type="hidden" value="code"/>
            <input id="client_id" name="client_id" type="hidden" value="client"/>
            <button type="submit">Login</button>
        </div>
    </form>
</div>
</body>
</html>