<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Log In</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../static/css/main.css"/>
</head>
<body>
<div class="main-container">
    <form action="/auth" method="post">
        <div>
            <label for="username">Username:</label><input id="username" class="column" name="username" value="login"/><br/>
            <label for="password">Password:</label><input id="password" class="column" name="password" value="pass"/><br/>

            <input id="scope"         name="scope"         th:value="${scope}"         type="hidden"/>
            <input id="redirect_uri"  name="redirect_uri"  th:value="${redirect_uri}"  type="hidden"/>
            <input id="response_type" name="response_type" th:value="${response_type}" type="hidden"/>
            <input id="client_id"     name="client_id"     th:value="${client_id}"     type="hidden"/>
            <input id="access_type"   name="access_type"   th:value="${access_type}"   type="hidden"/>

            <button type="submit">Login</button>
        </div>
    </form>
</div>
</body>
</html>